#root{
  padding: 40rem 40rem 20rem 40rem;
  margin: 0 auto; 
  
  text-align: center;
  background-image: url('https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/masters/forest.jpg');
}

*{
  font-family: 'Press Start 2P', cursive;
  background-size:cover;
  background-repeat: no-repeat;
}